// colors

$main-color: #e1cc6c;
$main-second-color: #bdae6a;
$font-color: #6e6e6e;
$attention-color: #a200ff;
$main-background-color: white;
$border-color: #dadada;

// fonts size base 1em = 16px;

$hero-font: 120px;
$big-font: 64px;
$large-font: 48px;
$medium-font: 32px;
$small-font: 16px;
$mobile-font: 12px;

//font families
$main-font: 'EB Garamond';
$second-font: 'Open Sans';

//font-weigth

$bold: 700;
$light: 300;

//layout
$mobile-gap: 1em;
$desktop-gap: 5em;
$header-height: 60px;
