// colors

$main-color: #e1cc6c;
$main-second-color: #bdae6a;
$font-color: #888888;
$attention-color: #b55ce9;
$main-background-color: white;
$border-color: #dadada;

// fonts size

$hero-size: 120px;

//layout sizes

$header-height: 100px;
