// colors

$main-color: #e1cc6c;
$main-second-color: #bdae6a;
$font-color: #5f5f5f;
$attention-color: #ff0082;
$main-background-color: white;
$second-background-color: #ffb7000b;
$border-color: #dadada;

// fonts size base 1em = 16px;

$hero-font: 76px;
$big-font: 48px;
$large-font: 38px;
$medium-font: 24px;
$small-font: 16px;
$mobile-font: 14px;

//font families
$main-font: 'EB Garamond';
$second-font: 'Lato';

//font-weigth

$bold: 700;
$light: 300;

//layout
$mobile-gap: 1em;
$tablet-gap: 5vw;
$desktop-gap: 16vw;
$header-height: 70px;
